{% extends "agenda/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block main %}
<div class="container col-md-4 my-3">
    <div class="row">
        <div class="col">
            <h2> Login </h2>
            <form method="POST">{% csrf_token %}
                {{form|crispy}}
                
                <input class="btn btn-primary mt-2" type="submit" value="Sign In">
                <a class="btn btn-secondary mt-2" href="{% url 'home' %}">Cancel</a>
                <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}