{% extends "agenda/base.html" %}
{% load crispy_forms_tags %}
{% block main %}
{% if user.is_authenticated %}
    <div class="container col-md-4 my-3">
        <div class="row">
            <div class="col">
                <h2>Add Contact</h2>
                <form method="POST">{% csrf_token %}
                    {{form|crispy}}                   
                    <input class="btn btn-primary mt-2" type="submit" value="Save">
                    <a class="btn btn-secondary mt-2" href="{% url 'home' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    <script>
        let name = "{{ user.id }}";
        document.getElementById("name").value = name;
    </script>

{% else %}
    <div class="container text-center">
        <p>You do not have permission to create a contact, register or log in.</p>
    </div>
{% endif %}
{% endblock %}