{% extends "agenda/home.html" %}
{% load crispy_forms_tags %}
{% block main %}
{% if user.is_authenticated %}
{% if user.id == object.creador.id %}
<div class="container col-md-4 my-3">
    <div class="row">
        <div class="col">
            <h2>Actualizar Contacto</h2>
            <form method="POST">{% csrf_token %}
                {{form|crispy}}                   
                <input class="btn btn-primary mt-2" type="submit" value="Guardar">
                <a class="btn btn-secondary mt-2" href="{% url 'home' %}">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% else %}
<div class="container text-center">
    <p>Tú no tienes permiso para actualizar este contacto. Inicia Sesión o registrate.</p>
</div>
{% endif %}
{% endif %}

{% endblock %}